body{
    margin: 0;
    font-family: 'Castoro', serif;
}
section{
    height: 500px;
}
.header{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
h1{
    font-size:50px;
}
h2{
    font-size: 40px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 500px;
}
.orange-highlight{
    color: goldenrod;
}
.middle{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right center;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-area{
    Padding: 50px;
    box-shadow: 10px 10px 40px gray;
    box-sizing: border-box;
    border-radius: 10px;
    
}
#full-stack{
    border-left: 5px solid lightsalmon ;
}
#baby-web{
    border-left : 7px solid;
    border-image: linear-gradient(180deg, blue, aqua);
    border-image-slice: 1;
}
footer{
    text-align: center;
    font-weight: 700;
}